/*
#1 = 35A49C
#2 = 79CDC0
*/
a {
	color: #35A49C;
}
a:hover {
	color: #79CDC0;
}

/* menu */
.nav>li>a:hover {
	color: #79CDC0;
}

.navbar .navbar-nav > .active > a {
	color: #79CDC0;
}

/* flexslider */
.flex-control-paging li a {
	background: #35A49C;
}

.flex-direction-nav a:hover{
	background-color:#35A49C;
}

.testimonial span.author a {
	color: #79CDC0;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #35A49C;
	box-shadow: 0 0 0 4px #35A49C;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #35A49C;
	box-shadow: 0 0 0 8px  #79CDC0;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #35A49C;
}

/* btn */
.btn-theme {
  background: #79CDC0;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #35A49C;
}
.btn-cta,.btn-cta.btn-lg {
  background: #35A49C;
  border-color: #79CDC0;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #35A49C;
}

/* contact */
.validation {
	color: red;
}

/* footer */
.social-circle li a {
	background:#35A49C;
}

a.scrollup{
	background:#35A49C;
}

#sendmessage {
    color: green;
}

#errormessage {
    color: red;
}
/*
_______________________________________________________________*/

.column{
  position: relative;
  float: left;
  width: 25%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.responsive {
    width: 100%;
    height: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 20px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: # 0F9; 
  width: 94%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  font-weight:bold;
  padding: 20px;
  text-align: center;
}
.column:hover .overlay {
  opacity: 1;
}

/* Style the button and place it in the middle of the container/image */
.column .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #06C;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.column .btn:hover {
  background-color: black;
}

.slide-efct {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*background-color: #008CBA;*/
  background: rgb(106, 148, 234);
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.column:hover .slide-efct {
  width: 100%;
}

.txt-efct {
  color: white;
  font-weight:bold;
  font-size: 40px;
  line-height: 1.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: normal; 
}